body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #00A4CCFF;
}

.header {
  height: 15%; 
  padding: 1% 5%;
  background-color: #00A4CCFF;
}

.container {
  display: flex;
  flex-grow: 1; 
  margin: 0 5% 5% 5%; 
  align-items: stretch; 
}

.menu-box {
  flex: 0 0 20%; 
  background-color: #9F5F80FF; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.menu-box button {
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%; 
}

.lidar-area {
  flex-grow: 1; 
  background-color: #000000; 
}

.canvas-container {
  width: 100%;
  height: 100%; 
}

